
#nav-bar {
}
	#nav-bar a {
		font-family: 'Titillium Web', sans-serif;
		text-decoration: none;
		position: absolute;
		letter-spacing: 1px;
		top: 23px;
		left: 18px;
		font-size: 17px;
		line-height: 26px;
		font-weight: 900;
		margin: 10px 0px 5px 5px;
		padding: 0;
		display: block;
		color: #e3e3e3;
		text-align: left;
		border-left: 6px solid #000;
		padding-left: 10px;
		padding-top: 2px;
		text-transform: uppercase;
		opacity: .1;
	}

	#nav-bar a, a:visited{
  		color: inherit;
	}

#container {
	width: 80%;
	margin: 0 auto;
}

#column-left {
	margin: 78px 20px 10px 30px;
	float: left;
	width: 43%;
}
	#featured {
		font-family: 'Raleway', sans-serif;
		margin: 30px 30px 30px 0px;
		margin-top: 55px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 50px;
		padding-bottom: 0;
		font-size: 48px;
		text-transform: none;
		margin-bottom: 40px;
		margin-top: 50px;
		color: #ccc;
		letter-spacing: .5px;
	}
	#column-left #article-title a, h2 {
		text-decoration: none;
		font-size: 35px;
		font-weight: bold;
		font-family: 'Ubuntu', sans-serif;
		margin-bottom: 10px;
	}
	#author {
		margin: 0 0;
		font-family: 'Raleway', sans-serif;
		font-size: 17px;
		font-weight: 900;
		color: #2B3344;
		letter-spacing: .5px;
	}
	#column-left p {
		font-family: 'Merriweather Sans', sans-serif;
		color: #575457;
	}


#column-right {
	float: left;
	width: 25%;
}
	.also-read-items {
		width: 80%;
		float: right;
	}
		.article-title {
		}